.video__link {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc((100% - 16px)/2);
  background-size: cover;
  border-radius: 5px;
  text-decoration: none;
  padding: 30px;
  box-sizing: border-box;
}

.video__link::before {
  content: '';
  background-color: #2a2c2f;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .5s ease;
}

.video__link:hover::before {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .video__link {
    padding: 24px;
  }
}

@media screen and (max-width: 700px) and (min-width: 424px) {
  .video__link {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .video__link {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px;
  }
}
