.page__section {
  padding-top: 102px;
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .page__section {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .page__section {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .page__section {
    padding-top: 64px;
  }
}
