.place__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  margin: 0;
}

@media screen and (max-width: 768px) and (min-width: 424px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    padding-left: 16px;
  }
}
