.lead__title {
  max-width: 782px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 54px;
    line-height: 58px;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 90%;
  }
}


