.intro__title {
  margin: 0 0 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
}

@media screen and (max-width: 425px) {
  .intro__title {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 35px;
  }
}
