.video__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 94px;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .video__text {
    padding-top: 54px;
  }
}

@media screen and (max-width: 768px) {
  .video__text {
    padding-top: 35px;
  }
}

@media screen and (max-width: 500px) {
  .video__text {
    padding-top: 49px;
  }
}