.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 41px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1000px) and (min-width: 425px) {
  .footer__link {
    font-size: 16px;
    line-height: 27px;
  }
}