.comments__container {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .comments__container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 72px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .comments__container {
    margin: 40px 0 0;
    width: 100%;
  }
}
