.footer__copyright {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin-top: 48px;
  }
}
