.header__item {
  margin-right: 18px;
  padding-bottom: 10px;
}

.header__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .header__item {
    margin-right: 16px;
  }
}