.place__paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 36px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
