.cover__title {
  width: 95%;
  margin: 0 0 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover__title {
    width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: 75%;
  }
}
