.place {
  display: grid;
  grid-template-columns: 46% 48%;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 0;
  }
}
